* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}
@font-face {
  font-family: "Timmana";
  src: url(../public/assets/fonts/Timmana.ttf) format("truetype");
}
@font-face {
  font-family: "Chivo Mono";
  src: url(../public/assets/fonts/ChivoMono.ttf) format("truetype");
}
@font-face {
  font-family: "Hind";
  src: url(../public/assets/fonts/Hind-Regular.ttf) format("truetype");
}
a {
  text-decoration: none;
}
ul > li {
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
